/* disable the password reveal feature/button in micorsoft edge
 https://learn.microsoft.com/en-us/microsoft-edge/web-platform/password-reveal */
::-ms-reveal {
  display: none;
}

body {
  background: #f2f7fc;
}

.form-wrapper {
  margin: 44px auto 45px;
  width: 450px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 25px 32px 9px;
  box-shadow: 0 12px 48px rgb(26 39 52 / 11%);

  .title {
    margin-top: 9px;
    margin-bottom: 27px;
    font-size: 22px;
    color: #111;
    word-spacing: -1px;
    font-weight: 500;
  }

  .secret-token-has-been-sent {
    font-size: 12px;
    margin: 0 0 12px;
    color: #000;
    line-height: 1.4;
    border: 1px solid #71b5ff;
    background: #d9f0ffad;
    padding: 7px 9px 8px 13px;
    border-radius: 4px;
  }

  .i-dont-have-an-account {
    position: absolute;
    top: 38px;
    right: 34px;
    font-size: 14px;
    border-bottom: 1.4px solid;
    padding-bottom: 2px;
    word-spacing: -1px;
    color: #0e71c3;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  .forgot-password {
    position: absolute;
    top: 38px;
    right: 34px;
    cursor: pointer;

    span {
      font-size: 14px;
      border-bottom: 1.4px solid;
      padding-bottom: 2px;
      word-spacing: -1px;
      color: #0e71c3;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }

  .form {
    position: relative;
    margin-bottom: 6px;
    padding-bottom: 11px;

    button#signin,
    button#next,
    button#reset-password {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px 0;
      height: 47px;
      font-size: 14px;
      border-radius: 4px !important;
    }

    .input-wrapper {
      position: relative;

      svg {
        position: absolute;
        right: 8.5px;
        top: 15.5px;
        width: 22px;
        height: 17px;
        cursor: pointer;
        padding: 3px;

        &.disabled {
          cursor: not-allowed !important;
        }
      }

      svg path {
        fill: #646d75;
      }

      svg.revealed {
        top: 13.5px;
        height: 20px;
      }

      input {
        width: 385px;
        border: none;
        margin-bottom: 8px;
        padding: 14px 34px 0 12px;
        height: 46px;
        border-radius: 3px;
        font-size: 15px;
        transition: box-shadow 0.1s ease, border-color 0.25s ease;
        border: 1px solid #646b71;
      }

      input:focus ~ .placeholder,
      input:not(:focus).has-value ~ .placeholder {
        top: 7px;
        left: 12px;
        font-size: 11px;
      }

      .placeholder {
        position: absolute;
        pointer-events: none;
        left: 12px;
        top: 15px;
        color: #414954;
        font-size: 14px;
        transition: 0.2s ease all;
      }
    }
  }
}

.error {
  border: 1px solid #f6b4b4;
  padding: 11px 20px;
  background: #ffcccc70;
  color: #222;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  line-height: 1.3;
  margin: 5px auto 1px;

  button {
    background: none;
    border: none;
    padding: 0 0 3px;
    margin: 0;
    height: 13px;
    border-bottom: 1px solid #ea9898;
    color: #bb4343;
    font-size: 11.5px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #e47171;
      color: #bf2323;
    }
  }
}
