/* disable the password reveal feature/button in micorsoft edge
 https://learn.microsoft.com/en-us/microsoft-edge/web-platform/password-reveal */
::-ms-reveal {
  display: none;
}

body {
  background: #f3f4f869;
}

.header {
  padding: 19px 20px;
  background: #fff;

  .logo {
    a {
      display: inline-block;
    }

    img {
      width: 27px;
      display: inline-block;
    }

    svg {
      width: 29px;
      fill: none;
      transform: rotate(21deg);
      stroke: #222;
      stroke-width: 1.1px;
      stroke-linecap: round;
      stroke-linejoin: miter;
    }
  }

  .title {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 52px;
    font-size: 19px;
    font-weight: 600;
    color: #222;
    font-family: "Manrope", sans-serif;
    display: none;

    .p {
      font-family: "DM Mono", monospace;
      font-size: 20px;
    }

    .bi {
      font-weight: 300;
      display: inline-block;
      letter-spacing: -1px;
      margin-left: 1px;
      font-family: "DM Mono", monospace;
    }
  }
}

.form-wrapper {
  margin: 44px auto 45px;
  width: 450px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 25px 32px 9px;
  box-shadow: 0 12px 48px rgb(35 35 35 / 11%);

  .title {
    margin-top: 9px;
    margin-bottom: 27px;
    font-size: 22px;
    color: #111;
    word-spacing: -1px;
    font-weight: 500;
  }

  .i-dont-have-an-account {
    position: absolute;
    top: 38px;
    right: 37px;
    font-size: 14px;
    border-bottom: 1.4px solid;
    padding-bottom: 2px;
    word-spacing: -1px;
    color: #0e71c3;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  .form {
    position: relative;
    margin-bottom: 6px;
    padding-bottom: 11px;

    button#signin {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px 0;
      height: 47px;
      font-size: 14px;
      border-radius: 4px !important;
    }

    .input-wrapper {
      position: relative;

      svg {
        position: absolute;
        right: 8.5px;
        top: 15.5px;
        width: 22px;
        height: 17px;
        cursor: pointer;
        padding: 3px;
      }

      svg path {
        fill: #646d75;
      }

      svg.revealed {
        top: 13.5px;
        height: 20px;
      }

      input {
        width: 385px;
        border: none;
        margin-bottom: 8px;
        padding: 14px 34px 0 12px;
        height: 46px;
        border-radius: 3px;
        font-size: 15px;
        transition: box-shadow 0.1s ease, border-color 0.25s ease;
        box-shadow: #676e74 0px 0px 0px 0.6px;
      }

      input:focus ~ .placeholder,
      input:not(:focus).has-value ~ .placeholder {
        top: 7px;
        left: 12px;
        font-size: 11px;
      }

      .placeholder {
        position: absolute;
        pointer-events: none;
        left: 12px;
        top: 15px;
        color: #53575c;
        font-size: 14px;
        transition: 0.2s ease all;
      }
    }

    .forgot-password {
      text-align: center;
      font-size: 12px;
      margin: 9px 0 11px;
      color: #646d75;

      a {
        color: #646d75;
        border-bottom: 1px solid;
        padding-bottom: 1px;
        text-decoration: none;

        &:hover {
          color: #4b5259;
        }
      }
    }
  }
}

.error {
  border: 1px solid #f6b4b4;
  padding: 11px 20px;
  background: #ffcccc70;
  color: #222;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  line-height: 1.3;
  margin: 5px auto 1px;

  button {
    background: none;
    border: none;
    padding: 0 0 3px;
    margin: 0;
    height: 13px;
    border-bottom: 1px solid #ea9898;
    color: #bb4343;
    font-size: 11.5px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid #e47171;
      color: #bf2323;
    }
  }
}
