body {
  position: relative;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  background: #f2f7fc;
}

.verification-wrapper {
  margin: 44px auto 45px;
  width: 450px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 25px 32px 26px;
  box-shadow: 0 12px 48px rgb(26 39 52 / 11%);

  .verification {
    .title {
      margin-top: 9px;
      margin-bottom: 21px;
      font-size: 22px;
      color: #111;
      word-spacing: -1px;
      font-weight: 500;
    }

    button {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px 0;
      height: 47px;
      font-size: 14px;
    }
  }
}

.sucess,
.error {
  text-align: center;
  margin: 54px 0;

  h1 {
    margin: 5px 0 0;
    color: #000;
    font-weight: 600;
  }

  p {
    font-size: 22px;
    margin: 8px 0;
  }

  a {
    color: #0e71c3;
    text-decoration: none;
  }

  a:hover {
    color: #0f60a3;
    text-decoration: underline;
  }
}

.sucess {
  svg {
    fill: #4487e2;
  }
}

.error {
  svg {
    fill: #e35757;
  }

  h1 {
    margin: 10px 0 0;
  }

  p {
    margin: 7px 0;
  }
}

.agree-to-terms {
  text-align: center;
  font-size: 12px;
  margin: 9px 0 11px;
  color: #52606c;

  a {
    color: #646d75;
    border-bottom: 1px solid #a1abb4;
    padding-bottom: 1px;
    text-decoration: none;

    &:hover {
      color: #4b5259;
      border-bottom: 1px solid #818a93;
    }
  }
}
